.slide-view-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-background-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/nxt-slides/nxt-slides-bg.png');
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
